<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>file-manager-login</title>
    <link rel='stylesheet' href="../../styles.scss">
</head>
<body>
    <div class="login-box">
        <div id="welcome-box">
            <img src="../assets/images/file.png">
            <div id="welcome-text">
                <div id="welcome1">Welcome</div>
                <div id="welcome2">Please login to proceed.</div>
            </div>
        </div>
        <div class="username">
            <img src="../assets/images/user.png">
            <input type="text" placeholder="Username or E-Mail">
        </div>
        <div class="username" id="password">
            <img src="../assets/images/password.png">
            <input type="password" placeholder="Password">
        </div>
        <div id="forgot-password">
            <a href="https://support.google.com/accounts/answer/41078">
                <p>
                    Forgot password?
                </p>
            </a>
        </div>
        <div class="username" id="continue">
            Continue
        </div>
    </div>
</body>
</html>